.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color;
  margin-top: 60px;
  &__wrapper {
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    @media all and (min-width: 1024px) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}